<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenidos a MercadoLiebre</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />



</head>

<body>
    <header>
    
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        <p>Lugar para poner la barra de busqueda</p>
        <p>Compra en Cuotas y sin tarjeta de créditooooooooooooooooooooooooooooo</p>

        <nav>
                <ul>
                    <li> <a href= >Ofertas</a> </li>
                    <li> <a href= >Tiendas Oficiales</a> </li>
                    <li> <a href= >Vender</a> </li>
                    <li> <a href= >Ayuda</a> </li>
                </ul>
                <ul>
                    <li> <a href="/registrer" >Crea tu cuenta</a></li>
                    <li> <a href="/login" >Ingresa</a> </li>
                    <li> <a href= >Mis compras</a> </li>
                </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        

    
    </header>

        <section>
        <img src="/images/img-home-banner.jpg"  width="360"alt="Banner Ofertas">
        </section>


        <main>
            <section>
                <h3>Basado en tu ultima visita</h3>
                
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" width="360"  alt="Cafetera">
                    <!--iconito de camion-->
                    <p class="precio">$6.770</p>
                    <p class="des">40% off</p>
                    <h4>Cafetera Moulinex</h4>
                </article>
                
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook">
                    <!--iconito de camion-->
                    <p class="precio">$230.000</p>
                    <p class="desc">20% off</p>
                    <h4>MacBook Pro 2019</h4>
                </article>
            
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="360"  alt="Telefono Móvil Samgung Galaxy">
                    <!--iconito de camion-->
                    <p class="precio">$70.500</p>
                    <p class="desc">10% off</p>
                    <h4>Telefono Móvil Samgung Galaxy S10</h4>
                </article>
            
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" width="360"  alt="SmartTv Samsung">
                    <!--iconito de camion-->
                    <p class="precio">$23.000</p>
                    <p class="desc">5% off</p>
                    <h4>SmartTv Samsung 43</h4>
                </article>
            </section>
        </main>
        <footer>
            <ul><li><h2>Paga con tarjeta o en efectivo</h2>
            </li><p>Con Mercado Liebre Cash, ténes envios gratis en miles de productos.Es un beneficio de Mercado Puntos</p></ul>
            
            
            
            
            
            <ul><li><h2> Envio gratis desde $2.500</h2></li>
            <p>Solo por estar registrado en Mercado Liebre ténes envios gratia en miles de productos. Es un beneficio de Mercado Puntos </p></ul>
            
            
            
            
            
            <ul><li><h2> Seguridad, de principio a fin<h2></h2></li>
            
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay mada que no puedas hacer, porque estas siempre protegido</p></ul>
            
            
            
            
            
            <ul><li><h2> Seguridad, de principio a fin</li><h2></ul>
            
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L</h5>
        </footer>
    </body>
</html>



