/*â— Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/




*{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h3{
    font-size: 24px;
    text-align: center;
}


img{
    display:block;
margin:auto;
}

.precio{
    font-size: 18px;
}

.desc{
    font-size: 16px;

} 

header{
    background-color: #EAC926 ;
     padding-bottom: 30px;
}


main{
   margin-left: auto;
   margin-right: auto;
   width: 90vm;}

   main article{
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;}




.main-image{
    margin: 30px;
    width: 40%;
    }



    main .fa-truck{
        color: green;
        padding-right:20px;
        padding-left: 20px;
        padding-bottom: 30px;
        padding-top: 30px;
        border: 3px solid green;
        border-radius: 50%;
    }


    .camion{
        padding-top: 20px;
        padding-bottom: 10px;
    }

    section article {
        border-top: 1px solid #ebebeb;
    }

    .busqueda{
    margin-left: 20px;

}

.idolar{
    margin-left: 60px;
}
nav > ul > li {
    list-style: none;
}
 
ul{
    padding: 0;
}

ul a{
    color:black
}

p{
   font-size: 16px;

}

.burger-menu {
  text-align: center;
}


.burger-menu > i{
    background-color: #1259c3;
    border-radius: 10%;
    color:white;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;

}

.banner{
    width: 100%;
}


.producto-img{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: content-box;
}




/* Footer START */
footer {
    padding: 18px;
  }
  .footer-item {
    padding: 18px;
    text-align: center;
    color: var(--main-gris-oscuro)
  }
  
  .footer-item > article > i {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--main-celeste)
  }
  .footer-item > article > h2 {
    font-size: var(--main-descripciones);
  }
  
  .footer-item > article > p {
    font-size: var(--main-texto)
  }
  
  .footer-copyright > article > p {
    font-size: var(--main-texto);
    color: var(--main-gris-oscuro);
    text-align: left;
  }


  @media (min-width: 361px){
    main h3{
        display: block;
    }
    main h4{
        
        display: none;
    }
   
        nav{
        display: block;
    }
    .burger-menu{
        display: none;
    }
    .logo{
        width: 30%;
    }


 @media(min-width: 768px){
        
    main h4{
      
        display: block;
    } 
      main article {  box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }  


} 

} 