/*â— Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;*/




*{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h3{
    font-size: 24px;
}

.precio{
    font-size: 18px;
}

.desc{
    font-size: 16px;

} 

header{
    background-color: #EAC926 ;
}

.main-image{
    margin: 30px;
    width: 40%;
}

.busqueda{
    margin-left: 20px;

}

.idolar{
    margin-left: 60px;
}
nav > ul > li {
    list-style: none;
}
 
ul{
    padding: 0;
}

ul a{
    color:black
}

p{
   font-size: 16px;

}

.burger-menu {
  text-align: center;
}


.burger-menu > i{
    background-color: #1259c3;
    border-radius: 10%;
    color:white;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;

}

.banner{
    width: 100%;
}